html {

}

body {
  margin: 0;
  background-color: rgb(64, 60, 60);
  color: #fff;

  font-family: 'Inconsolata', monospace;
  font-size: 24px;
  line-height: 1.4;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
/*  text-decoration: none;*/
  color: #fff;
}

a:hover {
  color: #333;
}

.page {
  background-color: #5f8d7f;
  max-width: 1024px;
  margin: 90px auto;
}

.section {
  margin: 0 auto;
  padding: 30px 0;
}

.section__title {
  position: relative;
  color: #fff;
  text-align: center;
  font-size: 45px;
}

.section__title:before {
  content: "";
  display: block;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 5%;
  height: 3px;
  background-color: #fff;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  padding: 0 50px;
}

.profile__photo img {
  border-radius: 50%;
  display: block;
  margin: 0 auto 20px;
}

.profile__name {
  text-align: center;
  color: #fff;
  font-size: 30px;
}

.contacts__info {
  font-size: 24px;
}

.footer {
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  padding-bottom: 20px;
  color: #333;
}
